In [1]:
## Import necessary libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [2]:
## Load the dataset
data = pd.read_csv('churn_modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
data.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [5]:
## Preprocessing the data
## Drop unnecessary columns
data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1, inplace=True)

In [6]:
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [7]:
## Encoding categorical variables gender
lable_encoder_gender = LabelEncoder()
data.Gender = lable_encoder_gender.fit_transform(data.Gender)

# data['Gender'] = lable_encoder_gender.fit_transform(data['Gender'])

In [8]:
data.head(100)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
95,515,Spain,1,35,10,176273.95,1,0,1,121277.78,0
96,773,Spain,1,41,9,102827.44,1,0,1,64595.25,0
97,814,Germany,1,29,8,97086.40,2,1,1,197276.13,0
98,710,Spain,1,22,8,0.00,2,0,0,99645.04,0
99,413,France,1,34,9,0.00,2,0,0,6534.18,0

In [9]:
data.Geography.unique()

array(['France', 'Spain', 'Germany'], dtype=object)

In [10]:
## Use OnehotEncoder for Geography
one_hot_encoder_geography = OneHotEncoder()
geo_encoder = one_hot_encoder_geography.fit_transform(data[['Geography']])
geo_encoder
# data['Geography'] = one_hot_encoder_geography.fit_transform(data['Geography'].values.reshape(-1, 1)).toarray()

<10000x3 sparse matrix of type '<class 'numpy.float64'>'
	with 10000 stored elements in Compressed Sparse Row format>

In [11]:
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [12]:
one_hot_encoder_geography.get_feature_names_out()

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [13]:
geo_encoder_df = pd.DataFrame(geo_encoder.toarray(), columns=one_hot_encoder_geography.get_feature_names_out())

In [14]:
geo_encoder_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [15]:
    ## Combine the encoded Geography with the original data
data.drop('Geography', axis=1, inplace=True)
data = pd.concat([data, geo_encoder_df], axis=1)

In [16]:

data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [17]:
## Save the encoder and scaler
with open('lable_encoder_gender.pkl', 'wb') as file:
    pickle.dump(lable_encoder_gender, file)

with open('one_hot_encoder_geography.pkl', 'wb') as file:
    pickle.dump(one_hot_encoder_geography, file)

In [18]:
## Divide the data into features and target variable
X = data.drop('Exited', axis=1)
y = data['Exited']

In [19]:
X , y

(      CreditScore  Gender  Age  Tenure    Balance  NumOfProducts  HasCrCard  \
 0             619       0   42       2       0.00              1          1
 1             608       0   41       1   83807.86              1          0
 2             502       0   42       8  159660.80              3          1
 3             699       0   39       1       0.00              2          0
 4             850       0   43       2  125510.82              1          1
 ...           ...     ...  ...     ...        ...            ...        ...
 9995          771       1   39       5       0.00              2          1
 9996          516       1   35      10   57369.61              1          1
 9997          709       0   36       7       0.00              1          0
 9998          772       1   42       3   75075.31              2          1
 9999          792       0   28       4  130142.79              1          1

       IsActiveMember  EstimatedSalary  Geography_France  Geography_Germany  \
 0                  1        101348.88               1.0                0.0
 1                  1        112542.58               0.0                0.0
 2                  0        113931.57               1.0                0.0
 3                  0         93826.63               1.0                0.0
 4                  1         79084.10               0.0                0.0
 ...              ...              ...               ...                ...
 9995               0         96270.64               1.0                0.0
 9996               1        101699.77               1.0                0.0
 9997               1         42085.58               1.0                0.0
 9998               0         92888.52               0.0                1.0
 9999               0         38190.78               1.0                0.0

       Geography_Spain
 0                 0.0
 1                 1.0
 2                 0.0
 3                 0.0
 4                 1.0
 ...               ...
 9995              0.0
 9996              0.0
 9997              0.0
 9998              0.0
 9999              0.0

 [10000 rows x 12 columns],
 0       1
 1       0
 2       1
 3       0
 4       0
        ..
 9995    0
 9996    0
 9997    1
 9998    1
 9999    0
 Name: Exited, Length: 10000, dtype: int64)

In [20]:
## Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
## Scale the features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [21]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((8000, 12), (2000, 12), (8000,), (2000,))

In [22]:
X_train

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [23]:
## Save scaler in pickle file
with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

In [24]:
### ANN Implementation

In [25]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

WARNING:tensorflow:From c:\Users\Suraj Khodade\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [26]:
X_train.shape[1]

12

In [27]:
## build ANN model
model = Sequential(
    [
        Dense(64, activation='relu', input_shape=(X_train.shape[1],)), ## Hidden Layer 1
        # Dropout(0.2),
        Dense(32, activation='relu'), ## Hidden Layer 2
        # Dropout(0.2),
        Dense(1, activation='sigmoid') ## Output Layer
    ]
)

WARNING:tensorflow:From c:\Users\Suraj Khodade\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [28]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [29]:
## Compile the model
import tensorflow as tf
opt = tf.keras.optimizers.Adam(learning_rate=0.001)
losses = tf.keras.losses.BinaryCrossentropy()
model.compile(optimizer=opt, loss=losses, metrics=['accuracy'])

# model.compile(optimizer='Adam', loss='binary_crossentropy', metrics=['accuracy'])

In [30]:
## Setup the tesnorboard callback
log_dir = "logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")

In [31]:
log_dir

'logs/fit/20250801-014256'

In [32]:
## Create the TensorBoard callback
tensonflow_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [33]:
## Set up early stopping
early_stopping = EarlyStopping(monitor='val_loss', patience=5, restore_best_weights=True)

In [34]:
### Train the model
history = model.fit(
    X_train, y_train,
    # validation_split=0.2,
    validation_data=(X_test, y_test),
    epochs=100,
    # batch_size=32,
    callbacks=[tensonflow_callback, early_stopping]
)

Epoch 1/100
WARNING:tensorflow:From c:\Users\Suraj Khodade\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\Suraj Khodade\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 3s 6ms/step - loss: 0.4537 - accuracy: 0.8004 - val_loss: 0.3941 - val_accuracy: 0.8300
Epoch 2/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3833 - accuracy: 0.8414 - val_loss: 0.3576 - val_accuracy: 0.8530
Epoch 3/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3550 - accuracy: 0.8571 - val_loss: 0.3450 - val_accuracy: 0.8550
Epoch 4/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3444 - accuracy: 0.8586 - val_loss: 0.3420 - val_accuracy: 0.8590
Epoch 5/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3390 - accuracy: 0.8604 - val_loss: 0.3406 - val_accuracy: 0.8610
Epoch 6/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3366 - accuracy: 0.8594 - val_loss: 0.3423 - val_accuracy: 0.8565
Epoch 7/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3317 - accuracy: 0.8629 - val_loss: 0.3436 - val_accuracy: 0.8560
Epoch 8/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3301 - accuracy: 0.8616 - val_loss: 0.3418 - val_accuracy: 0.8605
Epoch 9/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3278 - accuracy: 0.8662 - val_loss: 0.3422 - val_accuracy: 0.8565
Epoch 10/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3264 - accuracy: 0.8664 - val_loss: 0.3376 - val_accuracy: 0.8595
Epoch 11/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3237 - accuracy: 0.8646 - val_loss: 0.3379 - val_accuracy: 0.8575
Epoch 12/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3221 - accuracy: 0.8677 - val_loss: 0.3394 - val_accuracy: 0.8565
Epoch 13/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3207 - accuracy: 0.8680 - val_loss: 0.3380 - val_accuracy: 0.8615
Epoch 14/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3194 - accuracy: 0.8677 - val_loss: 0.3342 - val_accuracy: 0.8655
Epoch 15/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3181 - accuracy: 0.8680 - val_loss: 0.3403 - val_accuracy: 0.8610
Epoch 16/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3170 - accuracy: 0.8685 - val_loss: 0.3378 - val_accuracy: 0.8595
Epoch 17/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3155 - accuracy: 0.8674 - val_loss: 0.3391 - val_accuracy: 0.8595
Epoch 18/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3132 - accuracy: 0.8700 - val_loss: 0.3374 - val_accuracy: 0.8600
Epoch 19/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3124 - accuracy: 0.8696 - val_loss: 0.3417 - val_accuracy: 0.8590

In [35]:
## Save the model
model.save('model.h5')

c:\Users\Suraj Khodade\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [36]:
## Load tensorboard extension
%load_ext tensorboard

In [37]:
%tensorboard --logdir logs/fit

Reusing TensorBoard on port 6006 (pid 13216), started 1:04:29 ago. (Use '!kill 13216' to kill it.)